#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

main {
    display: flex;
}

.preview {
    background: #f5f5f5;
    padding: 20px;
}

.resume {
    background: white;
    max-width: 800px;
    margin: auto;
    padding: 40px;
    border: 1px solid #000;
    font-family: "Times New Roman", serif;
    color: #000;
}

.resume-header {
    text-align: center;
}

.resume-header h1 {
    font-size: 32px;
    margin-bottom: 5px;
}

.resume-header p {
    margin: 2px 0;
}

hr {
    margin: 20px 0;
    border: none;
    border-top: 1px solid black;
}

.resume-section h2 {
    font-size: 22px;
    margin-bottom: 10px;
}

.resume-item {
    margin-bottom: 15px;
}

.resume-item h3 {
    font-size: 18px;
    margin: 0;
}

.resume-item h4 {
    font-size: 16px;
    margin: 2px 0;
    font-weight: bold;
}

.label {
    font-weight: bold;
    margin-top: 5px;
}

.date {
    font-style: italic;
    font-size: 14px;
}